@charset "utf-8";
/*header样式开始*/
header{width:100%; background:#fef7f4; position:absolute;}
h1{width:100%/*1200px*/; margin:0 auto;}
header>img{display:block; margin:0 auto; -webkit-animation:bg 2s ease 1; -webkit-animation-delay:1s;}
	 
	 @-webkit-keyframes bg{
		 0%{-webkit-transform:scale(1); opacity:0.5;}
		 50%{-webkit-transform:scale(0.5); opacity:0.8;}
		 100%{-webkit-transform:scale(1); opacity:1;}
		 }
nav{height:80px; background:#fbddd0; position:relative; bottom:0;}
.menuBg {
    width: 100% /*1200px*/;
    margin: 0 auto;
}
nav .menu{float:right; margin-right:70px; -webkit-animation:menu 0.5s ease 1; -webkit-animation-delay:4s;}

         @-webkit-keyframes menu{
			  0%{-webkit-transform:translate(0,0);}
			  50%{-webkit-transform:translate(50px,-30px);}
			  100%{-webkit-transform:translate(0,0);}
			 }
nav .menu li{float:left;}
nav .menu li a{font:bold 16px/80px "微软雅黑"; color:#522449; padding:0 10px;}
nav .menu li a:hover{color:#e06241;}
nav .ball{margin:10px 0; -webkit-animation:roll 2s linear 1; -webkit-animation-delay:2s; -webkit-transform:translateY(-1000%) rotate(0);}
		@-webkit-keyframes roll{
			0%{-webkit-transform:translateY(-1000%) scale(1) rotate(0);}
			10%{-webkit-transform:translateY(0) scale(0.5) rotate(720deg);}
			20%{-webkit-transform:translateY(-400%) scale(1) rotate(1080deg);}
			30%{-webkit-transform:translateY(0) scale(0.8) rotate(1260deg);}
			40%{-webkit-transform:translateY(-200%) scale(1) rotate(1440deg);}
			50%{-webkit-transform:translateY(0) scale(1) rotate(1530deg);}
			60%{-webkit-transform:translateY(-100%) scale(1) rotate(1640deg);}
			70%{-webkit-transform:translateY(0) scale(1) rotate(1700deg);}
			100%{-webkit-transform:translateX(1000%) scale(1) rotate(3000deg);}
			}
nav .menu:after{content:""; display:block; clear:both; height: 0;}
/*header:after{content:""; display:block; clear:both; height:0;} 指令未起作用*/
/*header样式结束*/
/*main样式开始*/
/*about me样式开始*/
main{background:#fbeae1; padding-top:550px;}
    main .zone1 {
        width: 100% /*1200px*/;
        margin: 0 auto;
    }
.lead{display:block; margin:0 auto;}
h2{font:bold 40px/40px Arial; color:#d99378; text-align:center; margin:10px 0; -webkit-animation:move 1s linear infinite;}

	@-webkit-keyframes move{
		0%{-webkit-transform:translateY(0); text-shadow:0 0 0 #F8B82D;}
		50%{-webkit-transform:translateY(10px); text-shadow:0 0 20px #F8B82D; }
		100%{-webkit-transform:translateY(0); text-shadow:0 0 0 #F8B82D;}
		}
h2 span{color:#e0363e; font-size:50px;}
.introduce{padding-top:70px; width:600px; margin: auto;}
.introduce .person{-webkit-transform:rotate(-15deg); float:left;}
.introduce .photo{-webkit-transform:rotate(15deg); float:right;}					
.introduce:after{content:""; display:block; clear:both; height: 0;}
/*about me样式结束*/
/*timeline样式开始*/
.zone2 {
    width: 100% /*1200px*/;
    height: 780px;
    margin: 30px auto 0;
}
h3{font:bold 30px/30px Arial; color:#d99378; margin-left:200px;}
.zone2 ul{margin-left:240px; font-size:0; position:absolute;}
.zone2 span{font:16px/16px "微软雅黑"; color:#666; display:inline-block; position:relative; bottom:14px;}
.zone2 .text1{font-style:italic;width:160px;margin-left:10px;}
.zone2 .text2{width:400px;}
/*timeline样式结束*/
/*main样式结束*/
/*skills样式开始*/
.zone3{background:#fef7f4;}
    .zone3 .skill {
        width: 100% /*1200px*/;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 40px;
    }	
/*skills样式结束*/
/*滚动图片代码开始*/
.rollPic{background:url(../images/post.jpg) no-repeat fixed; height:320px; background-size:cover;}
/*滚动图片代码结束*/
/*protfolio样式开始*/
.zone4,.zone4 .iconShow{background:#fbeae1;}
    .zone4 .protfo {
        width: 100% /*1200px*/;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: relative;
        font-size: 0;
    }
/*banner焦点图效果样式开始*/
.zone4 .protfo .banner1 ul li{display:inline-block; margin-right:60px; margin-bottom:60px;}
.zone4 .protfo .banner1 ul li:nth-child(3),.zone4 .protfo .banner1 ul li:nth-child(6){margin-right:0;}
/*banner焦点图效果样式结束*/
/*icon展示区样式开始*/
.zone4 .iconShow{position:relative; top:60px; border-top:1px solid rgba(224,98,65,0.1);}
    .zone4 .iconShow .show {
        width: 100% /*1200px*/;
        margin: 0 auto;
        font-size: 0;
    }	
h4{font:bold 20px/20px "微软雅黑"; color:#d99378; display:block; margin:20px 0;}
.zone4 .iconShow .show li{display:inline-block;margin-right:60px; margin-bottom:60px; position:relative; overflow:hidden;}
.zone4 .iconShow .show li:nth-child(3),.zone4 .iconShow .show li:nth-child(6){margin-right:0;}
.zone4 .iconShow .show li .focus{background:rgba(250,250,250,0.3);width:300px; height:280px; border:1px dashed #666; position:absolute; left:30px; top:10px; display:none;}
.zone4 .iconShow .show li .focus:before{width:300px; height:260px; border-left:1px solid #fff; border-right:1px solid #fff; content:""; position:absolute; left:-1px; top:11px;}
.zone4 .iconShow .show li .focus:after{width:280px; height:280px; border-top:1px solid #fff; border-bottom:1px solid #fff; content:""; position:absolute; top:-1px; left:10px;}
.zone4 .iconShow .show li:hover .focus{display:block;}	
.zone4:after{content:""; display:block; clear:both; height:100px;}								
/*icon展示区样式结束*/
/*protfolio样式结束*/
/*footer样式开始*/
footer{ background:#fef7f4;}
.footerMin {
    width: 100% /*1200px*/;
    margin: 0 auto;
    font-size: 0;
}
.footerMin ul{margin-top:100px;}
.footerMin li{display:inline-block; width:400px; height: 157px; }
.footerMin li img{float:left;}
h5{font:bold 16px/60px "微软雅黑";  text-align:center; float:left; margin-left:10px;}
h5 a{color:#333;}
.footerMin .weixin:after{content:""; display:block; width: 157px; height: 157px; background:url(../images/erweima.png); float:right; margin-top:-48px; margin-left:10px;}
.footerMin .email:hover{ text-decoration:underline;}
/*footer样式结束*/